
/* 
img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
} */


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background: white;
    color: black;
    padding: .3rem 0;
}

header h1 {
    margin: 0;
    font-size: 18px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li {
    display: inline-block;
    margin-right: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

header nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}

header nav ul li:hover {
    transform: scale(1.1);
}

header nav ul li a:hover {
    text-decoration: underline;
}


.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section {
    padding: 2rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.project-item {
    margin-bottom: 1rem;
}

footer {
    background: #333;
    color: #eaeaea;
    font-size: 16px;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

/* Hero Section */
.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .container button {
    background-color: #4774F4;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
}

.hero .container button a {
    color: white;
    text-decoration: none;
}


